/* ----------- Color Variables --------- */
/* Looking for the color variables? They have been moved to the inline-styles file in the _includes folder, and pull variables from the site-settings folder in the _data folder.  */

.cutive-mono-regular {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;
}


/* ----------- CSS RESET --------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
img { max-width: 100%; height: auto; }

.min-100 { min-width: 100%;}

/* Override default gridlex padding */ 
[class*=col] { padding: 0; }
[class*=grid] { margin: 0; }

section { position: relative; }

html { 
  scroll-behavior: smooth ;
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
  overflow-x: hidden;
}


/* ---------- Negative Space Utility Classes  ------------------ */ 

.capped-width-wide      { max-width: 1600px; margin: auto; }
.capped-width           { max-width: 1400px; margin: auto; }
.capped-width-narrow    { max-width: 1000px; margin: auto; }
.capped-width-v-narrow  { max-width: 800px;  margin: auto; }

.flex-flip:nth-child(2n) {
  flex-flow:row-reverse wrap;
}

.flex-flip-normal {
  flex-flow:row-reverse wrap;
}

.tall-100 { min-height: 100vh; }
.tall-90  { min-height: 90vh; }
.tall-80  { min-height: 80vh; }
.tall-70  { min-height: 70vh; }
.tall-60  { min-height: 60vh; }
.tall-50  { min-height: 50vh; }
.tall-40  { min-height: 40vh; }
.tall-30  { min-height: 30vh; }
.tall-20  { min-height: 20vh; }

/* Padding Utility Classes */ 
.padded-sm { padding: 2.5%; }
.padded    { padding: 5%;   }

.padded-t { padding-top: 5%;}

.padded-c1 {
  padding: 3% 5% 5% 0;
}

.padded-r-c1 {
  padding-right: 5rem;
}

.padded-c2 {
  padding: 5% 0 5% 5%;
}

.padded-l-c1 { padding-left: 14%;}

.padded-lg { padding: 10%;  }
.padded-xl { padding: 0 15% 20% 15%;}

.padded-03 { padding: 0.3rem}
.padded-05 { padding: 0.5rem; }
.padded-1  { padding: 1rem; }
.padded-2  { padding: 2rem; }
.padded-2-custom {
  padding: 1.4rem;
  padding-left: 3rem !important;
}
.padded-2-important  { padding: 2rem !important; }



.padded-t  { padding-top: 5%; }
.padded-b  { padding-bottom: 5%; }
.padded-b-10  { padding-bottom: 10%; }
.padded-l  { padding-left: 5%; }
.padded-r  { padding-right: 5%; }

.padded-tb  { padding-top: 5%; padding-bottom: 5%; }
.padded-lr  { padding-left: 5%; padding-right: 5%; }

.padded-t-1 { padding-top: 1rem; }
.padded-b-1 { padding-bottom: 1rem; }
.padded-l-1 { padding-left: 1rem; }
.padded-r-1 { padding-right: 1rem; }

.padded-t-lg { padding-top: 8% !important}

.padded-t-c1 { padding-top: 290px}
.padded-t-c2 { padding-top: 7rem;}
.padded-b-c1 { padding-bottom: 10rem;}
.padded-t-c3 { padding-top: 7rem;}
.padded-t-c4 { padding-top: 10rem;}
.padded-t-c5 { padding-top: 18%;}

.padded-02 { padding: 0.2rem;}


.padded-t-2 { padding-top: 2rem; }
.padded-b-2 { padding-bottom: 2rem; }
.padded-l-2 { padding-left: 2rem; }
.padded-r-2 { padding-right: 2rem; }

.padded-b-3 { padding-bottom: 3rem;}

.padded-t-0 { padding-top: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-l-0 { padding-left: 0; }
.padded-r-0 { padding-right: 0; }

/* Margin Utility Classes */ 

.margin-t { margin-top: 5%; }
.margin-b { margin-bottom: 5%; } 
.margin-l { margin-left: 5%; }
.margin-r { margin-right: 5%; }

.margin-l-c1 { margin-left: -4rem;}
.margin-l-c2 { margin-right: 9rem;}
.margin-l-c4 { margin-left: 9rem;}

.margin-l-c3 { margin-right: 5rem;}

.margin-r-c1 { margin-left: 10rem;}
.margin-r-c2 { margin-right: -9rem;}
.margin-r-c3 { margin-right: -10rem;}

.margin-t-05 { margin-top: 0.5rem; }
.margin-b-05 { margin-bottom: 0.5rem; }
.margin-l-05 { margin-left: 0.5rem; }
.margin-r-05 { margin-right: 0.5rem; }

.margin-t-1 { margin-top: 1rem; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem; }
.margin-r-1 { margin-right: 1rem; }

.margin-t-c1 {
  margin-top: -44rem;
}

.margin-t-c3 {
  margin-top: -3rem;
}

.margin-t-c4 {
  margin-top: -9rem;
}


.margin-t-2 { margin-top: 2rem; }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem; }
.margin-r-2 { margin-right: 2rem; }

.margin-l-14 { margin-left: 1.4rem;}

.margin-b-c1 { margin-bottom: 250px; }
.margin-b-c2 { margin-bottom: -7rem; }
.margin-b-c3 { margin-bottom: 4rem; }

.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }

.margin-tb { margin-top: 5%; margin-bottom: 5%; }
.margin-lr { margin-left: 5%; margin-right: 5%; }

.margin-01 { margin: 0.1rem;}

.relative { position: relative;}
.block { display: block;}
.block div {
  display: block;
}
.fixed {
  position: fixed;
}
.inline-block { display: inline-block;}

/* ------------ Swiper  ----------------------- */
.swiper {
  width: 100%;
  height: auto;
  margin-left: -9rem;
}


.swiper-free-small-images {
  width: 100%;
  height: auto;
  margin-left: -5rem;
  overflow-x: hidden;
}



 .swiper-bangers {
  width: 100%;
  height: 100%;
}

/*
.swiper-bangers .swiper-slide {
    width: auto !important;
} */




.swiper-slide{
  width: fit-content;
 }


 .swiper-button-prev {
  content: url('/icons/forms/arrow-left-brown.svg');
  width: 3rem;
 }

 .swiper-button-next {
  content: url('/icons/forms/arrow-right-brown.svg');
  width: 3rem;
 }



 .swiper-bangers .swiper-button-prev {
  content: url('/icons/forms/arrow-left.svg');
  width: 3rem;
 }

 .swiper-bangers .swiper-button-next {
  content: url('/icons/forms/arrow-right.svg');
  width: 3rem;
 }




 .swiper-bangers .swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 80px);
  left: auto;
}

.swiper-bangers .swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 80px);
  right: auto;
}



 .swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 10%);
  left: auto;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 10%);
  right: auto;
}

.st-ind-arrow {
  position: absolute;
  top: 95%;
  right: 10%;
}

  


/* ------------ Position Absolute  ----------------------- */

.po1 {
  position: absolute;
  bottom: -2rem;
  right: -2rem;
}

.po1 p {
  font-size: 6rem;
  letter-spacing: 15px;
  
}

.po2 {
  position: absolute;
  top: -4rem;
  right: 4rem;
}

.po2 h1 {
  color: var(--dark-text);
}

.blub-3 {
  position: absolute;
  top: -5rem;
  right: -7rem;
  z-index: -5;
  width: 20rem;
}

.website-jetzt-buchen p {
  color: var(--dark-text);
  font-size: 2rem;
  letter-spacing: 7px;
}

.st-ind-link:hover .flash{
  opacity: 1;
}

.website-jetzt-buchen:hover .berge{.website-jetzt-buchen:hover .berge{
  opacity: 1;
}
  opacity: 1;
}


.laptop {
  width: 9rem;
}
.berge {
  transition: 0.3s;
  opacity: 0;
  position: absolute;
  width: 4.8rem;
  top: 28px;
}

.st-ind-camera {
  width: 9rem;
}
.flash {
  transition: 0.3s;
  opacity: 0;
  position: absolute;
  width: 3rem;
  top: -16px;
  right: 0rem;
}

.st-ind-link p {
  color: var(--dark);
  font-size: 2rem;
  letter-spacing: 7px;
}

.lines-2 {
    position: absolute;
    bottom: 6rem;
    width: 100%;
}

.po4 {
  position: absolute;
  top: -4.3rem;
  left: -15rem;
  min-width: 55rem;
  bottom: 0;
  right: 0;
  z-index: -6;
}


.po3 {
  position: absolute;
  top: -39px;
  min-width: 47rem;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -3;
}

.po5  {
    position: absolute;
    top: -5.3rem;
    right: 24rem;
}

.po6  {
  position: absolute;
  left: -1rem;
  top: -39px;
  min-width: 47rem;
  bottom: 0;
  right: 0;
  z-index: -5;
}

.po66  {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.po7 {
  position: absolute;
  top: -39px;
  min-width: 47rem;
  bottom: 0;
  right: 0;
  z-index: -6;
}


.po8 {
  position: absolute;
  top: -39px;
  min-width: 47rem;
  bottom: 0;
  right: -1rem;
  z-index: -5;
}

.po9  {
  position: absolute;
  top: -9.3rem;
  bottom: 0;
  left: -14rem;
  right: 0;
  z-index: -12;
  min-width: 60rem;

}

.po10 {
  position: absolute !important;
  bottom: 17%;
  z-index: -20;
}

.po11 {
  z-index: 3;
  position: absolute;
  top: 11%;
  left: 6%;
}

.po12 {
  z-index: 3;
  position: absolute;
  bottom: 11%;
  left: 6%;
}

.cafe-laden {
  width: 75%;
}
.nycha {
  width: 85%;
}
.gadmerlodge {
  width: 90%;
}

.po13 {
  position: absolute;
  bottom: 2rem;
  z-index: 3;
  width: 24rem;
  right: -2rem;
}

.po14 {
  position: absolute;
  bottom: 2rem;
  z-index: 3;
  width: 10rem;
  right: 9rem;
}

.po15 {
  position: absolute;
  bottom: 2rem;
  z-index: 3;
  width: 10rem;
  right: 9rem;
}

.po16 {
  position: absolute;
  z-index: 5;
  color: white;
}

.po16 p {
  font-size: 2rem;
  letter-spacing: 7px;
  
}

.po19 {
  position: absolute;
  top: 2rem;
  left: 4rem;
  z-index: 3;
}


.po20 {
  position: absolute;
  top: 20%;
  right: 4rem;
  z-index: -1;
  width: 90%;
}

.po21 {
  position: absolute;
  top: 2rem;
  left: 28%;
  z-index: 3;
  width: 80%;
}
.po22 p {
  font-size: 1.9rem;
  text-align: center;
}

.po23 {
  position: absolute;
  right: -6rem;
  padding: 1.6rem;
  border-radius: 2rem;
  background-color: white;
  width: 100%;
  z-index: 3;
  top: 3rem;
}

.po24 {
  position: absolute;
  top: -2rem;
  left: -2rem;
}

.logo-header-4 {
  position: absolute;
  top: 2rem;
  left: 4rem;
  width: 10rem;
}

.logo-header-3 { 
  padding: 1rem;
  width: 16rem;
}

.border-r-c1 { border-right: 1px solid var(--dark-text);}

/* ------------ Backgrounds & Background Images  ----------------------- */

.bg-dark     { background-color: var(--dark);}
.bg-featured { background-color: var(--featured);}
.bg-medium   { background-color: var(--medium); }
.bg-light    { background-color: var(--light); }
.bg-v-light  { background-color: var(--v-light); }
.bg-accent   { background-color: var(--accent);}

.border-img-c1 { 
  padding: 0.5rem;
  border: 1px solid var(--dark-text);
}


.bg-border-yellow-1 {
  background-color: var(--accent);
  border: 1px solid var(--dark-text);
}
.bg-border-yellow-2 {
  background-color: var(--accent);
  border: 1px solid var(--dark-text);
  border-top: 0;
  min-height: 17rem;
}
.bg-border-yellow-3 {
  background-color: var(--accent);
  border: 1px solid var(--dark-text);
  border-left: 0;
  border-bottom: 0;
}
.bg-border-yellow-4 {
  background-color: var(--accent);
  border: 1px solid var(--dark-text);
  border-left: 0;
  min-height: 17rem;
}
.bg-border-yellow-5 {
  background-color: var(--accent);
  border: 1px solid var(--dark-text);
  border-left: 0;
  border-bottom: 0;
}
.bg-border-yellow-6 {
  background-color: var(--accent);
  border: 1px solid var(--dark-text);
  border-left: 0;
  min-height: 17rem;
}

.border {
  border: 1px solid var(--dark-text);
}

.intention-border {
  border-radius: 50rem 50rem 10rem 10rem;
  border: 1px solid var(--dark-text);
}

.border-portfolio {
  border: 1px solid var(--dark-text);
  border-radius: 50rem;
}

.border-2 {
  border: 1px solid var(--dark-text);
  border-radius: 10px;
}
.border-3 {
  border: 1px solid var(--dark-text);
  border-radius: 25px;
}
.border-white {
  border: 1px solid white;
  padding: 0.5rem;
}

.border-brown {
  border: 1px solid var(--dark-text);
  padding: 0.5rem;
}

.img-storytelling-index {
  margin-left: -3rem;
}

.index-landscape {
  width: 100%;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  margin-top: -3rem;
  z-index: 3;
}

.index-logo {
  padding: 10%;
  width: 80%;
}

/* .jeep {
  width: 8rem;
  transform: translateY(-140px);
  animation: jeep linear 20s infinite;
}


@keyframes jeep {
  0% { transform: translateX(0) translateY(-140px) ; }
  10% { transform: translateX(10vw) translateY(-190px); }
  20% { transform: translateX(20vw) translateY(-150px); }
  30% { transform: translateX(30vw) translateY(-200px); }
  40% { transform: translateX(40vw) translateY(-260px) ; }
  50% { transform: translateX(50vw) translateY(-240px); }
  60% { transform: translateX(60vw) translateY(-220px); }
  70% { transform: translateX(70vw) translateY(-200px); }
  80% { transform: translateX(80vw) translateY(-260px); }
  90% { transform: translateX(90vw) translateY(-220px); }
  100% { transform: translateX(100vw) translateY(-190px);}
} */



.storytelling-index-image {
  border: 14px solid var(--light) !important;
}
 
.storytelling-video {
  object-fit: cover;
  max-width: 100%;
  border-radius: 50rem 50rem 0 0;
}

.window {  border-radius: 50rem 50rem 0 0;}

.bg-image {
    background-color: var(--light); /* Set a fall-back color while images are loading */ 
    background-image: url('/images/personal-branding-fotografie/experience/pb-exp-img-4.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.bg-website-features {
  background-image: url('/images/webdesign/website/features-bg.JPG');
}

.bg-website-banner {
  background-image: url('/images/webdesign/website/website-banner.JPG');
  background-position: bottom; 
}

.website-aeshtetic-po1 {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: white;
}

.website-aeshtetic-po2 {
  position: absolute;
  top: 2rem;
  left: 2rem;
  color: white;
}


.website-aeshtetic-po3 {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  color: white;
}

.website-aeshtetic-po4 {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: white;
}


.bg-website {
  background-color: var(--v-light); /* Set a fall-back color while images are loading */ 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}

.bg-website:hover {
  background-image: url('/images/webdesign/website-hover.jpg');
}

.bg-onlineshop {
  background-color: var(--v-light); /* Set a fall-back color while images are loading */ 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}

.bg-onlineshop:hover {
  background-image: url('/images/webdesign/onlineshop-hover.jpg');
}

.bg-banger-1 { background-image: url('/images/index/bangers/banger-1.jpg'); }
.bg-banger-2 { background-image: url('/images/index/bangers/banger-2.jpg'); }

.bg-editing-pb { background-image: url('/images/personal-branding-fotografie/experience/pb-exp-img-4.jpg');}

.bg-blub-4 { 
  background-image: url('/icons/forms/Blub-4.svg');
  background-size: contain;
  background-position: center; 
  background-repeat: no-repeat; 
}

.bg-menu-banner { background-image: url('/images/menu/menu-banner.jpg'); }

.bg-overlay::after {
  z-index: 1;
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}


.bg-overlay > * {
  z-index: 2;
  position: relative;
}
/* Add a second class to change the color or style  */

.bg-overlay-gradient::after { 
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
} 

.bg-overlay-featured::after { 
  background-color: var(--featured);
  opacity: 0.5;
} 

/* Aspect Ratios with percentage unit are only effective if the element (the <div>) is inside a parent container or column, it can't be applied to the column itself. */

a.bg-image { display: block;}

.landscape     { padding-bottom: 66% ; }
.landscape-menu     { padding-bottom: 9% !important; }
.portrait-tall { padding-bottom: 175%; }
.portrait      { padding-bottom: 125%; }
.square        { padding-bottom: 100%; }


/* Background Position */
.bg-pos-t { background-position: top; }
.bg-pos-b { background-position: bottom; }
.bg-pos-l { background-position: left; }
.bg-pos-r { background-position: right; }


/* ------------ Typography Styles ----------------------- */

.left    { text-align: left; }
.right   { text-align: right; }
.center  { text-align: center; }
.uppercase    { text-transform: uppercase; }

.hidden {
  display: none;
}

body {
  font-family: "Cutive Mono", monospace;
  font-weight: 100;
  color: var(--dark-text);
  background-color: var(--v-light);
  overflow-x: hidden;
}

h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin-bottom: 1.2rem;
  font-family: ivypresto-display, serif;
  font-weight: 100;
}

h1 {
  font-family: ivypresto-display, serif;
  font-weight: 100;
  font-size: 5rem;
  letter-spacing: 15px;
  
}

.fourrem { font-size: 4rem;}

h2 { 
  font-size: 2.2rem;
  letter-spacing: 10px;
  
}
h3 { 
  font-size: 2.4rem;
  letter-spacing: 15px;
  
 }
h4 { font-size: 1.6rem;
letter-spacing: 10px; }
h5 { 
  font-size: 1.6rem; 
  text-transform: uppercase;
  letter-spacing: 5px;
  
}
h6 { font-size: 1.2rem; }

p, li {
  line-height: 1.6; 
  font-family: "Cutive Mono", monospace;
  font-weight: 100;
  font-size: 1.3rem;
  letter-spacing: -1px;
}


h2:last-child, 
h3:last-child, 
h4:last-child, 
h5:last-child, 
h6:last-child, 
p:last-child {
	margin-bottom: 0;
}





/* Unique Typography Styles  */
.emphasis       { font-size: 1.2rem; }
.text-featured  { color: var(--featured-text);}
.text-light     { color: var(--light-text);}
.subtle         { opacity: 0.8;     }
.subtitle       { font-size: 0.8rem; }

.tworem         { font-size: 2rem;}
.two5rem       { font-size: 2.5rem;}
.threerem       { font-size: 3rem;}
.fourrem        { font-size: 4rem; }
.fiverem       { font-size: 5rem;}

.text-white     { color: white; }

.no-deco { text-decoration: none; }


.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/* ------------ Buttons & Links ------------ */
a {
    color: inherit;
    text-decoration: none;
}

/* a:hover {
  color: var(--featured-text); 
} */

p a {
    text-decoration: none;
    border-bottom: 1px solid;
}

h2 a {
  text-decoration: none;
  border-bottom: 1px solid;
}

/* p a:hover { 
  color: var(--featured-text); 
} */

.button-light-spacing {
  display: inline-block;
  text-decoration: none;
  line-height: 1;
  padding: 0.2rem 0.2rem;
  border: 1px solid;
  font-size: 2.3rem;
  letter-spacing: 10px;
  
}

.button-light-spacing:hover {
  color: white;
  background-color: var(--dark-text);
  border: 1px solid var(--dark-text);
}

.button-light { 
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    padding: 0.2rem 0.2rem;
    border: 1px solid;
    font-size: 1.8rem;
}

.button-light:hover {
    color: white;
    background-color: var(--dark-text);
    border: 1px solid var(--dark-text);
}

.button-white { 
  display: inline-block;
  text-decoration: none;
  line-height: 1;
  padding: 0.2rem 0.2rem;
  border: 1px solid;
  font-size: 1.8rem;
  letter-spacing: 7px;
}

.button-white:hover {
  color: var(--dark);
  background-color: white;
  border: 1px solid white;
}

.subtle-button {
  text-decoration: none;
  border-bottom: 1px solid;
}

.webdesign-links {
    position: absolute;
    bottom: -59px;
}


.webdesign-blub {
  position: absolute;
  bottom: -292px;
  right: -40%;
  z-index: -2;
  max-width: 482px;
}

.webdesign-lines {
  min-width: 100vw;
  position: absolute;
  bottom: -170px;
  left: 0;
  z-index: -3;
}

.webdesign-links a {
  font-size: 1.6rem;
  letter-spacing: 10px;
  font-family: ivypresto-display, serif;
  display: block;
}

.webdesign-links a:hover {
  color: var(--dark);
}

.webdesign-text {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.webdesign-text p {
  font-size: 1.4rem;
}

/* suggested additional styles 
- .button-inverted, .button-subtle, .button-lg  */

/* -------------- MARQUEEEE --------------------- */
/* ------------ Marquee ----------------------- */

:root {
  --marquee-width: 80vw;
  --marquee-height: 20vh;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.marquee {
  color: #eee;
  overflow: hidden;
  position: relative;
  padding: 1rem 0;
}
.marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
/* .marquee:before {
  left: 0;
  background: linear-gradient(to right, #111 0%, transparent 100%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #111 0%, transparent 100%);
} */
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling 70s linear infinite;
}
/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  /* width: var(--marquee-element-width); */
  max-height: 100%;
  font-size: 2rem; /* 5rem; */
  white-space: nowrap;
  color: var(--dark-text);
  margin-top: 1.5rem;
  padding: 0 1.5rem;
  letter-spacing: 10px;
  
  font-weight: 100;
  font-family: ivypresto-display, serif;
}

.marquee-content li img {
  width: 100%;
  /* height: 100%; */
  border: 2px solid #eee;
}

@media (max-width: 600px) {
  html { font-size: 12px; }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before, .marquee:after { width: 5rem; }
}


/* ------------ Header & Hamburger Menu -------------- */
header {
    padding: 1rem 5%;
}

.header-2 {
  z-index: 2;
}

.header-3 {
  position: absolute;
  z-index: 2;
  min-width: 100vw;
}

.hover-underline {
  display: inline-block;
}

.hover-underline {
  position: relative;
  text-decoration: none;
  padding: 0 !important;
  margin-bottom: 0.3rem;
}

.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background-color: var(--dark-text);
  bottom: -3px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.hover-underline:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.hover-underline-white {
  display: inline-block;
}

.hover-underline-white {
  position: relative;
  text-decoration: none;
  padding: 0 !important;
  margin-bottom: 0.3rem;
}

.hover-underline-white::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background-color: white;
  bottom: -3px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.hover-underline-white:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.sub-link {
  display: inline-block;
}

/* .sub-link {
  position: relative;
  text-decoration: none;
  padding: 0 !important;
  margin-bottom: 0.3rem;
}

.sub-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background-color: var(--dark-text);
  bottom: -3px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.sub-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
} */

.sub-link:hover {
  color: var(--dark);
}


.header-logo {
  width: 15rem;
}

.header-blub {
  position: absolute;
  top: -7rem;
  right: -7rem;
  width: 20rem;
  z-index: 10;
}

header div {
  display: inline;
}

.menu-button-style-1 {
  font-size: 5rem;
  letter-spacing: 25px;
  
  z-index: 11;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.menu-button-style-2 {
  cursor: pointer;
  padding: 1rem;
}

.menu-text {
  font-size: 5rem;
  letter-spacing: 25px;
  
  z-index: 11;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.schliessen {
  font-size: 3rem;
  letter-spacing: 10px;
  
  z-index: 11;
  cursor: pointer;
}

.menu a, .menu p {
  color: var(--dark-text);
}

/* header div h2:hover {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
} */


nav a {
    padding: 0.25rem 0.5rem;
    display: inline-block;
    text-decoration: none;
}


/* ------------ Footer Styles -------------- */

footer a {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  padding: 0.2rem 0 0.2rem 0.2rem;
  font-weight: 200;
}

footer nav a {
  text-align: right;
  display: block;
  text-decoration: none;
  padding: 0.2rem 0 0.2rem 0.2rem;
  font-weight: 100;
  letter-spacing: 10px;
  color: white;
  font-size: 1.6rem;
  font-family: ivypresto-display, serif;
}

footer nav a:hover {
  color: var(--light);
}



.fa-brands {
  text-align: center;
  font-size: 1.6rem;
}


.pajurama-logo {
  width: 6rem;
  border-bottom: none;
}


/* Dropdown styles */

.dropdown { 
  position: relative; 
  display: inline-block;
  border: 1px solid orange;
}

.dropdown-title {
  padding: 0.25rem 0.5rem;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: -1rem;
  padding: 0.5rem;
  display:none; 
  background-color: white;
  z-index: 2;
  text-align: left;
  min-width: 10rem;
  border: 1px solid mediumvioletred;
}

.dropdown:hover .dropdown-content{ 
  display: block;
}

.dropdown-content a {
  display: block;
  padding: 0.2rem;
}
  


.menu {
  background-color: var(--v-light);
  position: fixed; 
  z-index: -5;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  color: white;
  text-align: left;
  /* transition: opacity 0.2s; */
  max-height: 100vh;
  user-select: none;
  counter-reset: menucounter;
  overflow: scroll;
  opacity: 0;
}

.menu.active {
  opacity: 1;
  z-index: 14;
}

/* ------------------- ROTATING EFFECT menu links ----------------*/

.menu-item {
  position: relative;
}

.menu-item::before {
  counter-increment: menucounter;
  content: counters(menucounter, '.', decimal-leading);
  position: absolute;
  left: -15px;
  top: 0;
  font-size: 14px;
}

.menu-item-text {
  pointer-events: none;
  display: block;
  line-height: 1;
  position: relative;
  
}

.menu-item > div:nth-child(1) span {
  will-change: transform;
  transform-style: preserve-3d;
  transition: 0.5s;
  transition-delay: calc(0.05s * var(--index));
  transform-origin: bottom;
  display: inline-block;
}

.menu-item > div:nth-child(2) span {
  will-change: transform;
  transform-style: preserve-3d;
  transition: 0.5s;
  transition-delay: calc(0.05s * var(--index));
  transform-origin: top;
  display: inline-block;
  transform: translate3d(0, 100%, 0) rotateX(-90deg);
}

.menu-item:hover > div:nth-child(1) span {
  transform: translate3d(0, -100%, 0) rotateX(-90deg);
}

.menu-item:hover > div:nth-child(2) span {
  transform: translate3d(0, 0%, 0) rotateX(0deg);
}
span {
  font-size: 2rem;
}

/* ------------------- END ROTATING EFFECT ----------------*/



.main-link {
  font-size: 3rem;
  letter-spacing: 11px;
  z-index: 11;
  cursor: pointer;
  font-family: ivypresto-display, serif;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
}

.sub-link {
  font-size: 1rem;
  letter-spacing: 5px;
  
  z-index: 11;
  cursor: pointer;
  font-family: ivypresto-display, serif;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
}

.web-cs {
  margin-top: -2.5rem;
}

.blog-cs {
  margin-top: -2rem;
}

.menu-right {
  position: absolute;
  z-index: 8;
  bottom: -5px;
  right: -5px;
  width: 19%;
}

.menu-left {
  position: relative;
  z-index: 8;
  margin-left: -15px;
  margin-bottom: -15px;
}

.lines {
  position: absolute;
  bottom: 1rem;
  z-index: 0;
}

.lines img {
  width: 100vw;
}

.menu-number {
  font-size: 1.2rem;
  position: absolute;
  left: -17px;
  top: -7px;
  font-family: ivypresto-display, serif;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
}

.sub-link-title {
  font-size: 1.2rem;
  font-style: italic;
  letter-spacing: 5px;
  
  z-index: 11;
  cursor: pointer;
  font-family: ivypresto-display, serif;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
}



.logo-mobile-menu {
  text-align: left;
  position: absolute;
  top: 2rem;
  max-width: 11rem;
  left: 2rem;
}

.mobile-menu a {
  font-family: 'Poiret One', sans-serif;
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  color: var(--dark-text)
} 

.mobile-nav {
  margin-top: 7rem;
  text-align: left;
  display: block
}


/* ------------ Contact Forms  ----------------------- */

 /* Customize the label (the container) */
 .container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 26px;
  left: 4px;
  height: 25px;
  width: 25px;
  background-color: #bca58d;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #9d7f5d;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #b2c275;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 
.container-checkbox {
  font-size: 1.7rem;
  letter-spacing: 3px;
}






/* WEBSITE FORM Check boxes*/

/* Customize the label (the container) */
.container-checkbox-web {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox-web input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark-web {
  position: absolute;
  top: 3px;
  left: -42px;
  height: 25px;
  width: 25px;
  background-color: #bca58d;
}

/* On mouse-over, add a grey background color */
.container-checkbox-web:hover input ~ .checkmark-web {
  background-color: #9d7f5d;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox-web input:checked ~ .checkmark-web {
  background-color: #b2c275;
}

/* Create the checkmark-web/indicator (hidden when not checked) */
.checkmark-web:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark-web when checked */
.container-checkbox-web input:checked ~ .checkmark-web:after {
  display: block;
}

/* Style the checkmark-web/indicator */
.container-checkbox-web .checkmark-web:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 

.container-checkbox-web {
  font-size: 1.3rem;
  letter-spacing: 2px;
}




/* SUB Check boxes*/

/* Customize the label (the container) */
.container-checkbox-sub {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox-sub input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark-sub {
  position: absolute;
  top: 2px;
  left: 70px;
  height: 25px;
  width: 25px;
  background-color: #bca58d;
}

/* On mouse-over, add a grey background color */
.container-checkbox-sub:hover input ~ .checkmark-sub {
  background-color: #9d7f5d;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox-sub input:checked ~ .checkmark-sub {
  background-color: #b2c275;
}

/* Create the checkmark-sub/indicator (hidden when not checked) */
.checkmark-sub:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark-sub when checked */
.container-checkbox-sub input:checked ~ .checkmark-sub:after {
  display: block;
}

/* Style the checkmark-sub/indicator */
.container-checkbox-sub .checkmark-sub:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 

.container-checkbox-sub {
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.border-bottom {
  border-bottom: 1px solid var(--dark-text);
}

/* ------------ Form Styles  ----------------------- */
select {
  line-height: 1.8rem;
  color: var(--dark-text);
  font-size: 1.2rem;
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 1rem;
  border: 2px solid var(--dark);
  color: var(--dark-text);
  background-color: white;
  letter-spacing: 2px;
  font-weight: 100;
}

option {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 1rem;
  border: 2px solid var(--medium);
  color: var(--dark-text);
  background-color: white;
  letter-spacing: 1px;
}

label {
  line-height: 1.8rem;
  color: var(--dark-text);
  font-size: 1.2rem;
  letter-spacing: 1px;
}

input, textarea {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 1rem;
  border: 2px solid var(--dark);
  color: var(--dark-text);
  background-color: white;
  font-weight: 100;
  letter-spacing: 2px;
}

           
input:focus,
textarea:focus {
  outline: none;
  border: 2px solid var(--dark-text);
}


textarea {
  height: 100px;
}

button {
    font-size: 1.2rem;
    display: inline-block;
    text-decoration: none;
    border: 1px solid var(--dark-text);
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    font-weight: 400;
    padding: 0.5rem 1rem;
    font-family: ivypresto-display, serif;
    font-weight: 100;
    letter-spacing: 4px;
    color: var(--dark-text);
    text-transform: uppercase;
}

button:hover {
  border: 1px solid var(--dark-text);
  background-color: var(--dark-text);
  color: white;
}

.container-checkbox {
  font-size: 1.7rem;
  letter-spacing: 3px;
}

/* ------------ Blogging elements  ----------------------- */





/* Miscelaneous elements  */

hr.short {
  border: 1px solid var(--dark-text);
  width: 2rem;
  margin: 1rem 0;
}

hr.short.center {
  margin:auto;
  margin: 1rem auto;
}


/* ------------ Newsletter Sign Up ----------------------- */

#mlb2-15082387.ml-form-embedContainer .ml-form-embedWrapper {
  background-color: var(--dark) !important;
}

#mlb2-15082387.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent h4 {
  font-family: futura-pt, sans-serif !important;
  font-weight: 400 !important;
  font-size: 1.2rem !important;
  color: white !important;
}

#mlb2-15082387.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow input {
  font-family: futura-pt, sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  color: var(--dark-text) !important;
}

#mlb2-15082387.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow button {
  font-family: futura-pt, sans-serif !important;
  font-weight: 400 !important;
}


/* ------------ FAQ ----------------------- */

.faq-link { 
  text-decoration: underlinde;
 }

.faq-link:hover {
  color: var(--dark-text);
}

.fa-chevron-down::before {
  content: "\f078";
  color: white;
}

.arrow-icon {
  font-size: 0.8rem;
}

:root{
  --principal-font: 'Sulphur Point', sans-serif;
  --font-size: 15px;

  --primary-dark-color: #2e2e2e;
  --primary-soft-color: #CB9A95;

  --neutral-dark-color: #2e2e2e;
  --neutral-soft-color: #B9C0A8;

}



.attribution { 
  font-size: 11px
; text-align: center; 
  background-color: hsl(240, 5%, 91%);
  padding: 8px 0 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.attribution a { color: hsl(228, 45%, 44%); }

/* global */
/*================================================*/

.kleid-faq { max-width: 30%;}


.card-wrapper {
  padding-bottom: 50px; /* footer fixed */
  padding-top: 25px;
}



/* generics */
/*================================================*/

.content-cc{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FAQ card */
/*================================================*/

/* .faq-card {

  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
} */

/* FAQ card: imagenes */
/*================================================*/


.faq-ilustrations{
  position: relative;
}

.faq-ilustrations .mobile.ilust{
  position: absolute;
  top:-110px;
  left:-30px;
  right: 0;
}

.mobile{
  display: block;
  margin: 0 auto;
}


/* FAQ card: main */
/*================================================*/

.faq-content {
  padding: 3rem 2rem; 
  /* background-color: var(--accent); */
}

.faq-content h1 {
  font-size: 32px;
  text-align: center;
  color: white;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.faq-accordion {
  padding: 1rem 0 1rem 0;
  border-bottom: 1px solid white;
}


/* FAQ card: main title */
/*================================================*/

/* checkbox tgg-title*/
input.tgg-title {
  appearance: unset;
  all:unset;
}

.faq-accordion-title label{
  display: flex;
  align-items: center;
  cursor: pointer;
}


  .faq-accordion-title h2 {
    font-size: 1.6rem;
    font-weight: 100;
    color: white;
    letter-spacing: 3px;
  }


.faq-accordion-title span{
  margin-left: auto;
  transition: transform .4s ease-in-out;
}


/* FAQ card: main content */
/*================================================*/

.faq-accordion-content {
  color: white;
  overflow: hidden;
  max-height: 0;
  /* transition: max-height .4s ease-in-out; */
  margin-top: 11px;
}


/* Effects */
/*================================================*/

/* main title, accordion title effects */



/* onclick "" */
.faq-accordion .tgg-title:checked + div>label>h2 {
  font-weight: 300;
}

.faq-accordion .tgg-title:checked + div>label>span {
  will-change: transform;
  transform: rotate(180deg);
}

/* main content, acordion text effect */

.faq-accordion .tgg-title:checked ~ .faq-accordion-content{
  will-change: max-height;
  max-height: 400px;
}


/* ------------ Storytelling   ----------------------- */

.list-style-none {
  list-style: none;
}

.personal-text-storytelling {
  position: absolute;
  bottom: 0;
  right: 0;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  color: white;
  font-size: 2rem;
  padding: 1rem;

}

.personal-text-storytelling h2 {
  letter-spacing: 0px !important;
}
.horizontal-scroll {
  overflow-x: auto;
  flex-wrap: nowrap;
  padding-left: 1rem;
  padding-bottom: 10%;
  padding-right: 1rem;
}

#wrap {
  overflow: hidden;
}

.container {
  z-index: 1;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.22);
}

 .image-left {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
}
.image-left img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
} 

.image-right {
  position: fixed;
  top: 0;
  right: -50%;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
}
.image-right img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
} 

.container > div > div > ul > li:first-child .image-right,
.container > div > div > ul > li:first-child .image-left {
  opacity: 1;
  visibility: visible;
}

/* .container {
	position: relative;
	display: grid;
	grid: 1fr / 1fr;
  width: 100%;
  height: 100%;
  z-index: 999;
  padding: 5%;
}
.container > ul {
  list-style: none;
  width: 95%;
  margin: 0 auto;
  padding: 0;
}
.container-item {
  padding: 15px 0;
} */


.link {
  position: relative;
  font-size: 2rem;
  text-decoration: none;
  font-family: ivypresto-display, serif;
  font-weight: 100;
  color: white;
  line-height: 1.7;
  text-transform: uppercase;
  padding: 0.7rem;
  letter-spacing: 10px;
  
}
.container-item.active .link + .image-left {
  opacity: 1;
  visibility: visible;
}

.container-item.active .link + .image-right {
  opacity: 1;
  visibility: visible;
}
/* .container.hover .link {
  opacity: .4;
}
.container-item.active .link {
  opacity: 1;
} */

/* ------------ Website page  ----------------------- */

/* .swiper-website-portfolio .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -23;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial);
  box-sizing: content-box;
} */

.swiper-website-portfolio {
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
}


.swiper-website-portfolio .swiper-slide-active {
  width: 120%;
}

.swiper-3d .swiper-wrapper {
  transform-style: unset !important;
}

.website-portfolio-link p {
  font-family: futura-pt, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  z-index: 4;
}

.website-step-by-step {
  border: 1px solid var(--dark-text);
  padding: 0.2rem;
}

/* .swiper-website-portfolio {
  padding: 5%;
} */

.swiper-3d .swiper-slide-shadow-left {
  background-image: none;
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}
/* ------------ Personal Branding page  ----------------------- */

.pb-quote-banner {
  padding: 0.5rem;
  padding-top: 10%;
}

.bg-black {
  background-color: black;
  border: 1px solid var(--dark-text);
  border-radius: 1rem;
  opacity: 1;
}

.pb-quote-banner-img {
  border: 1px solid var(--dark-text);
  border-radius: 1rem;
  opacity: 0.8;
}

.bg-dark-portfolio img {
  transition: 0.3s;
}

/* .portfolio-link:hover .bg-dark-portfolio img {
  opacity: 0.6;
}

.portfolio-link:hover .kerze-overlay {
  opacity: 1;
} */

/* .bg-dark-portfolio     { 
  background-color: var(--dark-text);
  border-radius: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.kerze-overlay {
  position: absolute;
  width: 7rem;
  opacity: 0;
  transition: 0.3s;
}

.swiper-portfolio {
  margin-left: -6rem;
}

/* .swiper-portfolio .swiper-slide-active img {
  transition: 0.4s;
  transform: scale(1.1);
}

.swiper-slide-active {
  opacity: 1;
  z-index: 1;
  margin-left: 20px;
}
.swiper-slide-next{
  margin-left: 20px;
} */


.buche-jetzt {
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 17px;
  
  font-weight: 100;
  transition: 0.3s;
}

.buche-jetzt-sub {
  margin-top: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 17px;
  
  font-weight: 100;
  transition: 0.3s;
}

.buche-jetzt-rechteck-1 {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -12px;
  width: 100vw;
  height: 63%;
  background-color: var(--featured);
  z-index: -1;
  transition: all 0.3s;
  cursor: pointer;
}

.buche-jetzt-link {
  cursor: pointer;
}


.buche-jetzt-link:hover .buche-jetzt-rechteck-1 {
  height: 100%;
}





.buche-jetzt-rechteck-2 {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -12px;
  height: 63%;
  margin: 0.5rem;
  background-color: var(--accent);
  z-index: -1;
  transition: all 0.3s;
  cursor: pointer;
  border: 1px solid var(--dark-text);
  border-radius: 1rem;
}

.buche-jetzt-link:hover .buche-jetzt-rechteck-2 {
  height: 100%;
}

.buche-jetzt-rechteck-3 {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -12px;
  height: 63%;
  margin: 0.5rem;
  background-color: var(--accent);
  z-index: -1;
  transition: all 0.3s;
  cursor: pointer;
  border: 1px solid var(--dark-text);
}

.buche-jetzt-link:hover .buche-jetzt-rechteck-3 {
  height: 100%;
}


.st-lines {
  /* min-width: 100vw; */
  position: absolute;
  top: 3rem;
  left: -2rem;
  z-index: -3;
}

.pb-exp-n1 {
  position: absolute;
  bottom: 4rem;
  left: 2rem;
  font-size: 2rem;
}

.pb-exp-n2 {
  position: absolute;
  bottom: -0.4rem;
  left: -3rem;
  font-size: 2rem;
}

.pb-exp-n3 {
  position: absolute;
  bottom: 3rem;
  right: 1.6rem;
  font-size: 2rem;
}

.pb-exp-n4 {
  position: absolute;
  bottom: 3rem;
  left: 1.6rem;
  font-size: 2rem;
}

.pb-exp-n5 {
  position: absolute;
  bottom: 5rem;
  right: 5rem;
  font-size: 2rem;
}

.pb-top-img {
  border-radius: 20rem;
  border: 1px solid var(--dark-text);
}


.is-exp-n1 span {
  position: absolute;
  top: -2rem;
  right: -2rem;
  font-size: 1.3rem;
}





/* ------------ Contact Forms  ----------------------- */


/* ------------ Responsive Styles ----------------------- */

/* ------------ Illustrationen ----------------------- */

.illu-1 {
  width: 10rem;
}

/* General CSS Responsive Styles (Apply everywhere unless overriden) */ 

.show-xs, 
.show-sm,
.show-md,
.show-xs-inline {
	display: none; 
}

.inline { 
  display: inline-block;
  vertical-align: top;
}

/* ------- MD Media Query (64em / 1024px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media(max-width:64em) { 

  .margin-t-c1 {
    margin-top: 0;
  }

  .po19 {
    font-size: 2.5rem;
  }

  .padded-03 {
    padding: 0.1rem;
  }
	.show-md { display: block; }
	.hide-md { display: none;  }

  .md-padded-b-1 {
    padding-bottom: 1rem;
  }

  p {
    font-size: 1.4rem;
    }
    h5 {
      font-size: 1.4rem;
      letter-spacing: 5px;
      line-height: 1.4;
    }

    h3 {
      font-size: 2rem;
      letter-spacing: 10px;
      
    }

    .bg-blub-4 {
      background: none;
    }

    .md-border-right { 
      border-top: 1px solid var(--dark-text);
      border-left: 1px solid var(--dark-text);
      border-bottom: 1px solid var(--dark-text);
      padding: 1rem;
    }
    .md-border { 
      border: 1px solid var(--dark-text);
      padding: 1rem;
    }
    .md-border-left { 
      border-top: 1px solid var(--dark-text);
      border-right: 1px solid var(--dark-text);
      border-bottom: 1px solid var(--dark-text);
      padding: 1rem;
    }

    .padded-t-c4 {
      padding-top: 2rem;
    }
    .pb-exp-n1 {
      position: absolute;
      bottom: 2rem;
      left: 1rem;
      font-size: 2rem;
    }
    .fourrem { font-size: 3rem;}
    .xs-margin-t-3 { margin-top: 2rem;}

    .menu-button-style-1 {
      font-size: 4rem;
    }

    .header-blub {
      width: 16rem;
      }
      .menu-button-style-1 {
        font-size: 3.8rem;
      }

      .webdesign-text p {
        font-size: 1.4rem;
        }
        .webdesign-blub {
        bottom: -244px;
        }

        h1 {
          font-size: 3.5rem;
        }


      .po2 {
        position: absolute;
        top: -2.6rem;
        right: 4rem;
      }

      .po1 p {
        font-size: 4rem;
      }

      .po4 {
        top: -6rem;
      }

      .po5 {
        right: 15rem;
      }
}

/* ------- SM Media Query (48em / 768px) --------------- */ 
/* - Styles added here will apply at devices smaller than 768px, or zoomed in equivalent */ 


@media(max-width:48em) {

  .padded-l-c1 {
    padding-left: 5%;
  }

  .po19 {
    font-size: 1.8rem;
  }

  .padded-03 {
    padding: 0.3rem;
  }

  p {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.6rem;
    letter-spacing: 7px;
    
  }

  .po4 {
    top: -7rem;
    min-width: 52rem;
  }

  .po5 {
    right: 7rem;
  }

	.show-sm { display: block; }
	.hide-sm { display: none;  }

  .sm-text-center { text-align: center; }
  .sm-text-left   { text-align: left; }
  .sm-text-right  { text-align: right; }

  .sm-padded     { padding: 5%; }
  .sm-padded-1   { padding: 1rem; }
  .sm-padded-05  { padding: 0.5rem; }

  .sm-padded-t-0 { padding-top: 0; }
  .sm-padded-b-0 { padding-bottom: 0; }
  .sm-margin-t-0 { margin-top: 0; }
  .sm-margin-b-0 { margin-bottom: 0; }

  .sm-landscape     { padding-bottom: 66% ; }
  .sm-portrait-tall { padding-bottom: 175%; }
  .sm-portrait      { padding-bottom: 125%; }
  .sm-square        { padding-bottom: 100%; }

  .fourrem { font-size: 2.5rem;}

  span {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.6rem;
  }
  .sub-link-title {
    font-size: 1rem;
  }

  .menu-item::before {
    left: -6px;
    top: 19px;
    }

    .schliessen {
      font-size: 2.2rem;
      letter-spacing: 6px;
      
    }

    .menu-button-style-1 {
      font-size: 3rem;
    }

    .swiper {
      margin-left: -3rem;
    }

    .header-blub {
      width: 14rem;
      }
      .menu-button-style-1 {
      right: -12px;
      top: -26px;
      }

      .webdesign-links a {
        font-size: 1.3rem;
        letter-spacing: 6px;
        
        display: block;
      }

      .webdesign-links {
        bottom: -50px;
      }

      .webdesign-blub {
        bottom: -213px;
      }

      .swiper-free-small-images {
        width: 100%;
        height: auto;
        margin-left: 0;
      }

      .po2 {
        position: absolute;
        top: -2.6rem;
        right: 4rem;
      }

      .po1 p {
        font-size: 4rem;
      }

      .webdesign-text p {
        font-size: 1.2rem;
      }

      .lines-2 {
        bottom: 26rem;
      }
      .blub-3 {
        width: 13rem;
      }
      .storytelling-index-image {
        border: 7px solid var(--light) !important;
      }

      .swiper-bangers .swiper-button-next, .swiper-rtl .swiper-button-prev {
        right: var(--swiper-navigation-sides-offset, 20px);
        left: auto;
        top: 45%;
      }

      .swiper-bangers .swiper-button-prev, .swiper-rtl .swiper-button-next {
        left: var(--swiper-navigation-sides-offset, 20px);
        right: auto;
        top: 45%;
      }

      .marquee-content {
        animation: scrolling 32s linear infinite;
      }

      .pb-exp-n4 {
        bottom: 1rem;
      }

      .buche-jetzt {
        font-size: 3.4rem;
        letter-spacing: 8px;
        
      }

      .buche-jetzt-sub {
        font-size: 2.2rem;
        letter-spacing: 7px;
        
      }
}

/* ------- XS Media Query (36em / 576px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media(max-width:36em) {

		.show-xs { display: block; }
		.hide-xs { display: none;  }
    .show-xs-inline { display: inline-block;}

    .subtle-heading-xs {
      font-weight: 300;
      font-family: 'Martel', serif; 
    }

    .md-border-right { 
      border-top: 1px solid var(--dark-text);
      border-left: 1px solid var(--dark-text);
      border-right: 1px solid var(--dark-text);
      border-bottom: none;
      padding: 1rem;
    }
    .md-border { 
      border: 1px solid var(--dark-text);
      padding: 1rem;
    }
    .md-border-left { 
      border-top: none;
      border-left: 1px solid var(--dark-text);
      border-right: 1px solid var(--dark-text);
      border-bottom: 1px solid var(--dark-text);
      padding: 1rem;
    }

    .fourrem { font-size: 2rem;}
    .margin-r-c3 {
      margin-right: -9rem;
    }

    .xs-margin-t-15 { margin-top: 1.5rem;}
    .xs-margin-0 { margin: 0;}
    .xs-margin-t-3 { margin-top: 4rem;}
    .xs-padded-1 { padding: 1rem;}
    .xs-padded-b { padding-bottom: 5%; }
    .xs-padded-10 { padding: 10%; padding-top: 0;}

    .xs-padding-0 {
      padding: 0;
    }

    .po11 {
      top: 8%;
    }

    .image-left img {
      width: 100%;
      height: 50%;
    }
    .image-right img {
      width: 100%;
      height: 50%;
    }
    .image-right {
      top: 50%;
      right: 0;
      }

      h2 {
        font-size: 2.2rem;
        letter-spacing: 4px;
        
      }
      h1 {
        font-size: 3rem;
        letter-spacing: 8px;
        
      }

   
          h3 {
            font-size: 2.5rem;
            letter-spacing: 7px;
            
          }
        
      
      .link {
        font-size: 1.5rem;
      }
      .personal-text-storytelling h2 {
        letter-spacing: 5px;
        
      }

      .main-link {
        letter-spacing: 3px;
        
        }

        .sub-link-title {
          font-size: 1.1rem;
        }

        .menu-right {
          width: 35%;
        }

        span {
          font-size: 2rem;
        }

        .schliessen {
          font-size: 1.9rem;
          letter-spacing: 3px;
          
        }

        .menu-button-style-1 {
          font-size: 2.3rem;
        }

        .menu-button-style-1 {
          letter-spacing: 14px;
          
          right: -6px;
          top: -14px;
          }

          .po18 {
            position: absolute;
            min-width: 60vw;
            bottom: 0;
            right: -51%;
          }
          
          .po17 {
            position: absolute;
            min-width: 60vw;
            bottom: 0;
            left: -51%;
          }
          .webdesign-blub {
            position: absolute;
            bottom: -208px;
            right: -13%;
            z-index: -2;
            max-width: 340px;
          }


          .padded-b-10 {
            padding-bottom: 17%;
            }
            .padded-t-c1 {
            padding-top: 191px;
            }



      .po2 {
        position: absolute;
        top: -1.7rem;
        right: 1.7rem;
      }

      .po1 p {
        font-size: 4rem;
        letter-spacing: 10px;
        
      }

      .po1 {
        position: absolute;
        bottom: -1rem;
        right: 0rem;
      }

      p, li {
        font-size: 1.7rem;
      }

      .img-storytelling-index {
        margin-left: -3rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }

      .storytelling-index-image {
        border: 5px solid var(--light) !important;
        z-index: -3;
        position: relative
      }

      .lines-2 {
        position: absolute;
        top: 22rem;
      }

      .webdesign-text p {
        font-size: 1.5rem;
      }

      .st-ind-link p {
        font-size: 1.6rem;
      }



      .swiper-bangers .swiper-button-next, .swiper-rtl .swiper-button-prev {
        right: var(--swiper-navigation-sides-offset, 10px);
        left: auto;
        top: 45%;
      }

      .swiper-bangers .swiper-button-prev, .swiper-rtl .swiper-button-next {
        left: var(--swiper-navigation-sides-offset, 10px);
        right: auto;
        top: 45%;
      }

      .po4 {
        left: -16rem;
        min-width: 701%;
      }

      .po9 {
        min-width: 700%;
        right: 0;
        top: -40%;
      }

      .po6 {
        min-width: 72rem;
        }

        .po8 {
          min-width: 72rem;
          }
        .po3 {
          min-width: 72rem;
        }

        .po7 {
          min-width: 72rem;
        }

        .po5 {
          left: 3rem;
          top: -4.3rem;
        }

        .xs-padded-b-3 {
          padding-bottom: 3rem;
        }
        .marquee-content {
          animation: scrolling 30s linear infinite;
        }

        .margin-t-c3 {
          margin-top: 2rem;
        }

        .xs-margin-t-1 {
          margin-top: 2rem;
        }
        .margin-l-c4 {
          margin-left: 1rem;
        }

        .testimonial h3 {
          font-size: 2.5rem;
          letter-spacing: 7px;
          
        }

        .swiper-testimonial .swiper-button-next, .swiper-rtl .swiper-button-prev {
          right: var(--swiper-navigation-sides-offset, 5%);
          left: auto;
          top: 96%;
        }

        .swiper-testimonial .swiper-button-prev, .swiper-rtl .swiper-button-next {
          left: var(--swiper-navigation-sides-offset, 5%);
          right: auto;
          top: 96%;
        }

        footer nav a {
          text-align: right;
          display: block;
          text-decoration: none;
          padding: 0.2rem 0 0.2rem 0.2rem;
          font-weight: 100;
          letter-spacing: 3px;
          
          font-size: 1.4rem;
        }

        .po13 {
          position: absolute;
          bottom: 2rem;
          z-index: 3;
          min-width: 15rem;
          right: -9rem;
          min-height: 11rem;
        }


        .margin-b-c3 {
          margin-bottom: 2rem;
        }

        .buche-jetzt {
          font-size: 2.7rem;
          letter-spacing: 8px;
          
        }

        .buche-jetzt-sub {
          font-size: 1.8rem;
          letter-spacing: 7px;
          
        }

        .buche-jetzt-rechteck-1 {
          height: 70%;
        }

        .po15 {
          position: absolute;
          bottom: -3rem;
          z-index: 3;
          width: 10rem;
          right: -1rem;
        }

        .button-light-spacing {
          font-size: 1.9rem;
          letter-spacing: 7px;
          
        }

        .po16 p {
          font-size: 1.8rem;
          letter-spacing: 4px;
          
          padding: 2.4rem;
          text-align: center;
        }

        .margin-t-c4 {
          margin-top: 0;
        }
        .xs-padded-t-0 { padding-top: 0;}
        .xs-padded-b-0 { padding-bottom: 0;}
        .xs-padded-b-1 { padding-bottom: 1rem;}
        .xs-padded-0 { padding: 0 }
        .xs-padded-t-2 {
          padding-top: 2rem;
        }
        .sub-link {
          font-size: 1.3rem;
        }

        .po21 {
          position: static;
          width: 85%;
          padding: 5%;
          margin-top: 9rem;
        }

        .po20 {
          position: absolute;
          top: 7rem;
          right: 0;
          z-index: -1;
          width: 90%;
        }

        .po19 {
          left: 1rem;
          display: none;
        }
        .padded-t-c5 {
          padding-top: 5%;
        }
        .threerem {
          font-size: 2.4rem;
        }

        .po23 {
          position: absolute;
          left: 32%;
          padding: 1rem;
          border-radius: 2rem;
          background-color: white;
          width: 12rem;
          top: 31rem;
        }

        .xs-padded-1 { padding: 1rem;}

        .xs-padded-t-6 { padding-top: 6rem}

  
        .bg-border-yellow-2 { border-bottom: none; }
        .bg-border-yellow-3 { border-left: 1px solid var(--dark-text); }
        .bg-border-yellow-4 { border-left: 1px solid var(--dark-text); }
        .bg-border-yellow-5 {
          border-left: 1px solid var(--dark-text);
          border-top: 0;
        }
        .bg-border-yellow-6 { border-left: 1px solid var(--dark-text); }

        .xs-tall-70 {
          min-height: 70vh;
        }
        .logo-header-3 {
          padding-left: 2rem;
        }
}