/* ----------- Color Variables --------- */
/* Looking for the color variables? They have been moved to the inline-styles file in the _includes folder, and pull variables from the site-settings folder in the _data folder.  */

/* ----------- CSS RESET --------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
img { max-width: 100%; height: auto; }

/* Override default gridlex padding */ 
[class*=col] { padding: 0; }
[class*=grid] { margin: 0; }

section { position: relative; }

html { 
  scroll-behavior: smooth ;
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
  overflow-x: hidden;
}


/* ---------- Negative Space Utility Classes  ------------------ */ 

.capped-width-wide      { max-width: 1600px; margin: auto; }
.capped-width           { max-width: 1400px; margin: auto; }
.capped-width-narrow    { max-width: 1000px; margin: auto; }
.capped-width-v-narrow  { max-width: 800px;  margin: auto; }


.tall-100 { min-height: 100vh; }
.tall-90  { min-height: 90vh; }
.tall-80  { min-height: 80vh; }
.tall-70  { min-height: 70vh; }
.tall-60  { min-height: 60vh; }
.tall-50  { min-height: 50vh; }
.tall-40  { min-height: 40vh; }
.tall-30  { min-height: 30vh; }
.tall-20  { min-height: 20vh; }

/* Padding Utility Classes */ 
.padded-sm { padding: 2.5%; }
.padded    { padding: 5%;   }

.padded-c1 {
  padding: 3% 5% 5% 0;
}

.padded-lg { padding: 10%;  }
.padded-xl { padding: 0 15% 20% 15%;}

.padded-05 { padding: 0.5rem; }
.padded-1  { padding: 1rem; }
.padded-2  { padding: 2rem; }
.padded-2-important  { padding: 2rem !important; }



.padded-t  { padding-top: 5%; }
.padded-b  { padding-bottom: 5%; }
.padded-b-10  { padding-bottom: 10%; }
.padded-l  { padding-left: 5%; }
.padded-r  { padding-right: 5%; }

.padded-tb  { padding-top: 5%; padding-bottom: 5%; }
.padded-lr  { padding-left: 5%; padding-right: 5%; }

.padded-t-1 { padding-top: 1rem; }
.padded-b-1 { padding-bottom: 1rem; }
.padded-l-1 { padding-left: 1rem; }
.padded-r-1 { padding-right: 1rem; }

.padded-t-c1 { padding-top: 257px}
.padded-b-c1 { padding-bottom: 10rem;}
.padded-t-c3 { padding-top: 7rem;}
.padded-t-c4 { padding-top: 10rem;}

.padded-t-2 { padding-top: 2rem; }
.padded-b-2 { padding-bottom: 2rem; }
.padded-l-2 { padding-left: 2rem; }
.padded-r-2 { padding-right: 2rem; }

.padded-t-0 { padding-top: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-l-0 { padding-left: 0; }
.padded-r-0 { padding-right: 0; }

/* Margin Utility Classes */ 

.margin-t { margin-top: 5%; }
.margin-b { margin-bottom: 5%; } 
.margin-l { margin-left: 5%; }
.margin-r { margin-right: 5%; }

.margin-l-c1 { margin-left: -10rem;}
.margin-l-c2 { margin-right: 9rem;}

.margin-l-c3 { margin-right: 5rem;}

.margin-r-c1 { margin-left: 10rem;}
.margin-r-c2 { margin-right: -9rem;}
.margin-r-c3 { margin-right: -10rem;}

.margin-t-05 { margin-top: 0.5rem; }
.margin-b-05 { margin-bottom: 0.5rem; }
.margin-l-05 { margin-left: 0.5rem; }
.margin-r-05 { margin-right: 0.5rem; }

.margin-t-1 { margin-top: 1rem; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem; }
.margin-r-1 { margin-right: 1rem; }

.margin-t-c3 {
  margin-top: -3rem;
}

.margin-t-2 { margin-top: 2rem; }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem; }
.margin-r-2 { margin-right: 2rem; }

.margin-b-c1 { margin-bottom: 250px; }
.margin-b-c2 { margin-bottom: -7rem; }
.margin-b-c3 { margin-bottom: 4rem; }

.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }

.margin-tb { margin-top: 5%; margin-bottom: 5%; }
.margin-lr { margin-left: 5%; margin-right: 5%; }

.margin-01 { margin: 0.1rem;}

.relative { position: relative;}
.block { display: block;}
.block div {
  display: block;
}
.fixed {
  position: fixed;
}
.inline-block { position: inline-block;}

/* ------------ Swiper  ----------------------- */
.swiper {
  width: 100%;
  height: auto;
  margin-left: -9rem;
}


.swiper-free-small-images {
  width: 100%;
  height: auto;
  margin-left: -49%;
}



.swiper-slide{
  width: fit-content;
 }


 .swiper-button-prev {
  content: url('/icons/forms/arrow-left-brown.svg');
  width: 3rem;

 }

 .swiper-button-next {
  content: url('/icons/forms/arrow-right-brown.svg');
  width: 3rem;

 }

 .swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 150px);
  left: auto;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 150px);
  right: auto;
}
  


/* ------------ Position Absolute  ----------------------- */

.po1 {
  position: absolute;
  bottom: -2rem;
  right: -2rem;
}

.po1 p {
  font-size: 6rem;
  letter-spacing: 15px;
}

.po2 {
  position: absolute;
  top: -4rem;
  right: 4rem;
}

.po2 h1 {
  color: var(--dark-text);
}

.blub-3 {
  position: absolute;
  top: -5rem;
  right: -7rem;
  z-index: -5;
  width: 20rem;
}

.lines-2 {
    position: absolute;
    bottom: 6rem;
    width: 100%;
}

.po4 {
  position: absolute;
  top: -3.3rem;
  bottom: 0;
  right: 0;
  left: -14rem;
  min-width: 60rem;
  z-index: -6;
}


.po3 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -6;
}

.po5  {
    position: absolute;
    top: -3.3rem;
    right: 24rem;
}

.po6  {
  position: absolute;
  left: -4rem;
  top: 27px;
  bottom: 0;
  right: 0;

}

.po7 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
}


.po8 {
  position: absolute;
  top: 27px;
  bottom: 0;
  left: 3rem;
  right: 0;
  z-index: -6;
}

.po9  {
  position: absolute;
  top: -9.3rem;
  bottom: 0;
  left: -14rem;
  right: 0;
  z-index: -12;
  min-width: 60rem;

}

.po10 {
  position: absolute !important;
  bottom: 12rem;
  z-index: -20;
}

.po11 {
  z-index: 3;
  position: absolute;
  top: 11%;
  left: 6%;
}

.po12 {
  z-index: 3;
  position: absolute;
  bottom: 11%;
  left: 6%;
}

/* ------------ Backgrounds & Background Images  ----------------------- */

.bg-dark     { background-color: var(--dark);}
.bg-featured { background-color: var(--featured);}
.bg-medium   { background-color: var(--medium); }
.bg-light    { background-color: var(--light); }
.bg-v-light  { background-color: var(--v-light); }

.border {
  border: 1px solid var(--dark-text);
}

.border-2 {
  border: 1px solid var(--dark-text);
  border-radius: 10px;
}
.border-white {
  border: 1px solid white;
  padding: 0.5rem;
}

.border-brown {
  border: 1px solid var(--dark-text);
  padding: 0.5rem;
}

.img-storytelling-index {
  margin-left: -3rem;
}

.storytelling-index-image {
  border: 14px solid var(--light) !important;
}

.storytelling-video {
  object-fit: cover;
  max-width: 100%;
  border-radius: 50rem 50rem 0 0;
}

.window {  border-radius: 50rem 50rem 0 0;}

.bg-image {
    background-color: var(--light); /* Set a fall-back color while images are loading */ 
    background-image: url('https://source.unsplash.com/8Ogfqvw15Rg/1600x1600');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.bg-blub-4 { 
  background-image: url('/icons/forms/Blub-4.svg');
  background-size: contain;
  background-position: center; 
  background-repeat: no-repeat; 
}

.bg-menu-banner { background-image: url('/images/menu/menu-banner.jpg'); }

.bg-overlay::after {
  z-index: 1;
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}


.bg-overlay > * {
  z-index: 2;
  position: relative;
}
/* Add a second class to change the color or style  */

.bg-overlay-gradient::after { 
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
} 

.bg-overlay-featured::after { 
  background-color: var(--featured);
  opacity: 0.5;
} 

/* Aspect Ratios with percentage unit are only effective if the element (the <div>) is inside a parent container or column, it can't be applied to the column itself. */

a.bg-image { display: block;}

.landscape     { padding-bottom: 66% ; }
.landscape-menu     { padding-bottom: 9% !important; }
.portrait-tall { padding-bottom: 175%; }
.portrait      { padding-bottom: 125%; }
.square        { padding-bottom: 100%; }


/* Background Position */
.bg-pos-t { background-position: top; }
.bg-pos-b { background-position: bottom; }
.bg-pos-l { background-position: left; }
.bg-pos-r { background-position: right; }


/* ------------ Typography Styles ----------------------- */

.left    { text-align: left; }
.right   { text-align: right; }
.center  { text-align: center; }
.uppercase    { text-transform: uppercase; }

body {
  font-family: ivypresto-display, serif;
  font-weight: 100;
  color: var(--dark-text);
  background-color: var(--v-light);
  overflow-x: hidden;
}

h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin-bottom: 1.2rem;
  font-family: ivypresto-display, serif;
  font-weight: 100;
}

h1 {
  font-family: ivypresto-display, serif;
  font-weight: 100;
  font-size: 5rem;
  letter-spacing: 15px;
}

.fourrem { font-size: 4rem;}

h2 { 
  font-size: 2.2rem;
  letter-spacing: 10px;
}
h3 { 
  font-size: 2.4rem;
  letter-spacing: 15px;
 }
h4 { font-size: 1.6rem; }
h5 { 
  font-size: 1.6rem; 
  text-transform: uppercase;
  letter-spacing: 5px;
}
h6 { font-size: 1.2rem; }

p, li {
  line-height: 1.4; 
  margin-bottom: 1rem;
  font-family: ivypresto-display, serif;
  font-weight: 100;
  font-size: 1.2rem;
}


h2:last-child, 
h3:last-child, 
h4:last-child, 
h5:last-child, 
h6:last-child, 
p:last-child {
	margin-bottom: 0;
}

/* Unique Typography Styles  */
.emphasis       { font-size: 1.2rem; }
.text-featured  { color: var(--featured-text);}
.text-light     { color: var(--light-text);}
.subtle         { opacity: 0.8;     }
.subtitle       { font-size: 0.8rem; }

.tworem         { font-size: 2rem;}
.two5rem       { font-size: 2.5rem;}
.threerem       { font-size: 3rem;}
.fourrem        { font-size: 4rem; }
.fiverem       { font-size: 5rem;}

.text-white     { color: white; }

.no-deco { text-decoration: none; }


.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/* ------------ Buttons & Links ------------ */
a {
    color: inherit;
    text-decoration: none;
}

/* a:hover {
  color: var(--featured-text); 
} */

p a {
    text-decoration: none;
    border-bottom: 1px solid;
}

/* p a:hover { 
  color: var(--featured-text); 
} */

.button-light { 
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    padding: 0.2rem 0.2rem;
    border: 1px solid;
    font-size: 1.8rem;
}

.button-light:hover {
    color: white;
    background-color: var(--dark-text);
    border: 1px solid var(--dark-text);
}

.subtle-button {
  text-decoration: none;
  border-bottom: 1px solid;
}

.webdesign-links {
  position: absolute;
  bottom: -28px;
}

.webdesign-blub {
  position: absolute;
  bottom: -61%;
  right: -40%;
  z-index: -2;
  max-width: 482px;
}

.webdesign-lines {
  min-width: 100vw;
  position: absolute;
  bottom: -170px;
  left: 0;
  z-index: -3;
}

.webdesign-links a {
  font-size: 1.6rem;
  letter-spacing: 10px;
}

.webdesign-text {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.webdesign-text p {
  font-size: 1.7rem;
}

/* suggested additional styles 
- .button-inverted, .button-subtle, .button-lg  */

/* -------------- MARQUEEEE --------------------- */
/* ------------ Marquee ----------------------- */

:root {
  --marquee-width: 80vw;
  --marquee-height: 20vh;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.marquee {
  color: #eee;
  overflow: hidden;
  position: relative;
  padding: 1rem 0;
}
.marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
/* .marquee:before {
  left: 0;
  background: linear-gradient(to right, #111 0%, transparent 100%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #111 0%, transparent 100%);
} */
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling 70s linear infinite;
}
/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  /* width: var(--marquee-element-width); */
  max-height: 100%;
  font-size: 2rem; /* 5rem; */
  white-space: nowrap;
  color: var(--dark-text);
  margin-top: 1.5rem;
  padding: 0 1.5rem;
  letter-spacing: 10px;
  font-weight: 100;
  font-family: ivypresto-display, serif;
}

.marquee-content li img {
  width: 100%;
  /* height: 100%; */
  border: 2px solid #eee;
}

@media (max-width: 600px) {
  html { font-size: 12px; }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before, .marquee:after { width: 5rem; }
}


/* ------------ Header & Hamburger Menu -------------- */
header {
    padding: 1rem 5%;
}

.header-2 {
  position: fixed;
  top: 1rem;
  right: -1rem;
  z-index: 2;
}

.hover-underline {
  display: inline-block;
}

.hover-underline {
  position: relative;
  text-decoration: none;
  padding: 0 !important;
  margin-bottom: 0.3rem;
}

.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background-color: var(--dark-text);
  bottom: -3px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.hover-underline:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.hover-underline-white {
  display: inline-block;
}

.hover-underline-white {
  position: relative;
  text-decoration: none;
  padding: 0 !important;
  margin-bottom: 0.3rem;
}

.hover-underline-white::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background-color: white;
  bottom: -3px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.hover-underline-white:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.sub-link {
  display: inline-block;
}

.sub-link {
  position: relative;
  text-decoration: none;
  padding: 0 !important;
  margin-bottom: 0.3rem;
}

.sub-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background-color: var(--dark-text);
  bottom: -3px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.sub-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}


.header-logo {
  width: 15rem;
}

.header-blub {
  position: absolute;
  top: -7rem;
  right: -7rem;
  width: 20rem;
  z-index: 10;
}

header div {
  display: inline;
}

.menu-button-style-1 {
  font-size: 5rem;
  letter-spacing: 25px;
  z-index: 11;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.menu-button-style-2 {
  cursor: pointer;
}

.menu-text {
  font-size: 5rem;
  letter-spacing: 25px;
  z-index: 11;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.schliessen {
  font-size: 3rem;
  letter-spacing: 10px;
  z-index: 11;
  cursor: pointer;
}

.menu a, .menu p {
  color: var(--dark-text);
}

/* header div h2:hover {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
} */


nav a {
    padding: 0.25rem 0.5rem;
    display: inline-block;
    text-decoration: none;
}


/* ------------ Footer Styles -------------- */

footer a {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  padding: 0.2rem 0 0.2rem 0.2rem;
  font-weight: 200;
}

footer nav a {
  text-align: right;
  display: block;
  text-decoration: none;
  padding: 0.2rem 0 0.2rem 0.2rem;
  text-transform: uppercase;
  font-weight: 200;
}

.fa-brands {
  text-align: center;
  font-size: 1.6rem;
}


.pajurama-logo {
  width: 6rem;
  border-bottom: none;
}


/* Dropdown styles */

.dropdown { 
  position: relative; 
  display: inline-block;
  border: 1px solid orange;
}

.dropdown-title {
  padding: 0.25rem 0.5rem;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: -1rem;
  padding: 0.5rem;
  display:none; 
  background-color: white;
  z-index: 2;
  text-align: left;
  min-width: 10rem;
  border: 1px solid mediumvioletred;
}

.dropdown:hover .dropdown-content{ 
  display: block;
}

.dropdown-content a {
  display: block;
  padding: 0.2rem;
}
  


.menu {
  background-color: var(--v-light);
  position: fixed; 
  z-index: -5;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  color: white;
  text-align: left;
  /* transition: opacity 0.2s; */
  max-height: 100vh;
  user-select: none;
  counter-reset: menucounter;
  /* overflow: scroll; */
  opacity: 0;
}

.menu.active {
  opacity: 1;
  z-index: 14;
}

/* ------------------- ROTATING EFFECT menu links ----------------*/

.menu-item {
  position: relative;
}

.menu-item::before {
  counter-increment: menucounter;
  content: counters(menucounter, '.', decimal-leading);
  position: absolute;
  left: -15px;
  top: 0;
  font-size: 14px;
}

.menu-item-text {
  pointer-events: none;
  display: block;
  line-height: 1;
  position: relative;
  
}

.menu-item > div:nth-child(1) span {
  will-change: transform;
  transform-style: preserve-3d;
  transition: 0.5s;
  transition-delay: calc(0.05s * var(--index));
  transform-origin: bottom;
  display: inline-block;
}

.menu-item > div:nth-child(2) span {
  will-change: transform;
  transform-style: preserve-3d;
  transition: 0.5s;
  transition-delay: calc(0.05s * var(--index));
  transform-origin: top;
  display: inline-block;
  transform: translate3d(0, 100%, 0) rotateX(-90deg);
}

.menu-item:hover > div:nth-child(1) span {
  transform: translate3d(0, -100%, 0) rotateX(-90deg);
}

.menu-item:hover > div:nth-child(2) span {
  transform: translate3d(0, 0%, 0) rotateX(0deg);
}
span {
  font-size: 3rem;
}

/* ------------------- END ROTATING EFFECT ----------------*/



.main-link {
  font-size: 3rem;
  letter-spacing: 8px;
  z-index: 11;
  cursor: pointer;
  font-family: ivypresto-display, serif;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
}

.sub-link {
  font-size: 1.2rem;
  letter-spacing: 5px;
  z-index: 11;
  cursor: pointer;
  font-family: ivypresto-display, serif;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
}

.web-cs {
  margin-top: -2.5rem;
}

.blog-cs {
  margin-top: -2rem;
}

.menu-right {
  position: absolute;
  z-index: 8;
  bottom: -5px;
  right: -5px;
  width: 19%;
}

.menu-left {
  position: relative;
  z-index: 8;
  margin-left: -15px;
  margin-bottom: -15px;
}

.lines {
  position: absolute;
  bottom: 1rem;
  z-index: 0;
}

.menu-number {
  font-size: 1.2rem;
  position: absolute;
  left: -17px;
  top: -7px;
  font-family: ivypresto-display, serif;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
}

.sub-link-title {
  font-size: 1.2rem;
  font-style: italic;
  letter-spacing: 5px;
  z-index: 11;
  cursor: pointer;
  font-family: ivypresto-display, serif;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
}



.logo-mobile-menu {
  text-align: left;
  position: absolute;
  top: 2rem;
  max-width: 11rem;
  left: 2rem;
}

.mobile-menu a {
  font-family: 'Poiret One', sans-serif;
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  color: var(--dark-text)
} 

.mobile-nav {
  margin-top: 7rem;
  text-align: left;
  display: block
}


/* ------------ Contact Forms  ----------------------- */

/* ------------ Form Styles  ----------------------- */
select {
  line-height: 1.8rem;
  color: var(--dark-text);
  font-size: 1.2rem;
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 1rem;
  border: 2px solid var(--medium);
  color: var(--dark-text);
  background-color: white;
}

option {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 1rem;
  border: 2px solid var(--medium);
  color: var(--dark-text);
  background-color: white;
}

label {
  line-height: 1.8rem;
  color: var(--dark-text);
  font-size: 1.2rem;
}

input, textarea {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 1rem;
  border: 2px solid var(--medium);
  color: var(--dark-text);
  background-color: white;
}

           
input:focus,
textarea:focus {
  outline: none;
  border: 2px solid var(--light);
}


textarea {
  height: 20vh;
}

button {
    font-size: 1.2rem;
    display: inline-block;
    text-decoration: none;
    border: 1px solid var(--medium);
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    font-weight: 400;
    font-family: 'Jost', sans-serif;
    padding: 0.5rem 1rem;
}

button:hover {
  border: 1px solid var(--light);
}

/* ------------ Blogging elements  ----------------------- */





/* Miscelaneous elements  */

hr.short {
  border: 1px solid var(--dark-text);
  width: 2rem;
  margin: 1rem 0;
}

hr.short.center {
  margin:auto;
  margin: 1rem auto;
}


/* ------------ Storytelling PAge  ----------------------- */



.list-style-none {
  list-style: none;
}

.personal-text-storytelling {
  position: absolute;
  bottom: 0;
  right: 0;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  color: white;
  font-size: 2rem;
  padding: 1rem;

}

.personal-text-storytelling h2 {
  letter-spacing: 0px !important;
}


#wrap {
  overflow: hidden;
}

.container {
  z-index: 1;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.22);
}

 .image-left {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
}
.image-left img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
} 

.image-right {
  position: fixed;
  top: 0;
  right: -50%;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
}
.image-right img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
} 

.container > div > div > ul > li:first-child .image-right,
.container > div > div > ul > li:first-child .image-left {
  opacity: 1;
  visibility: visible;
}

/* .container {
	position: relative;
	display: grid;
	grid: 1fr / 1fr;
  width: 100%;
  height: 100%;
  z-index: 999;
  padding: 5%;
}
.container > ul {
  list-style: none;
  width: 95%;
  margin: 0 auto;
  padding: 0;
}
.container-item {
  padding: 15px 0;
} */


.link {
  position: relative;
  font-size: 2rem;
  text-decoration: none;
  font-family: ivypresto-display, serif;
  font-weight: 100;
  color: white;
  line-height: 1;
  text-transform: uppercase;
  padding: 0.7rem;
  letter-spacing: 10px;
}
.container-item.active .link + .image-left {
  opacity: 1;
  visibility: visible;
}

.container-item.active .link + .image-right {
  opacity: 1;
  visibility: visible;
}
/* .container.hover .link {
  opacity: .4;
}
.container-item.active .link {
  opacity: 1;
} */



/* ------------ Personal Branding PAge  ----------------------- */

.st-lines {
  /* min-width: 100vw; */
  position: absolute;
  top: 3rem;
  left: -2rem;
  z-index: -3;
}

.pb-exp-n1 {
  position: absolute;
  bottom: 4rem;
  left: 2rem;
  font-size: 2rem;
}

.pb-exp-n2 {
  position: absolute;
  bottom: -0.4rem;
  left: -3rem;
  font-size: 2rem;
}

.pb-exp-n3 {
  position: absolute;
  bottom: 3rem;
  right: 1.6rem;
  font-size: 2rem;
}

.pb-top-img {
  border-radius: 20rem;
  border: 1px solid var(--dark-text);
}


/* ------------ Responsive Styles ----------------------- */

/* General CSS Responsive Styles (Apply everywhere unless overriden) */ 

.show-xs, 
.show-sm,
.show-md {
	display: none; 
}

.inline { 
  display: inline-block;
  vertical-align: top;
}

/* ------- MD Media Query (64em / 1024px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media(max-width:64em) {

	.show-md { display: block; }
	.hide-md { display: none;  }

  p {
    font-size: 1.2rem;
    }
    h5 {
    font-size: 1.2rem;
    }

    .bg-blub-4 {
      background: none;
    }

    .md-border-right { 
      border-top: 1px solid var(--dark-text);
      border-left: 1px solid var(--dark-text);
      border-bottom: 1px solid var(--dark-text);
      padding: 1rem;
    }
    .md-border { 
      border: 1px solid var(--dark-text);
      padding: 1rem;
    }
    .md-border-left { 
      border-top: 1px solid var(--dark-text);
      border-right: 1px solid var(--dark-text);
      border-bottom: 1px solid var(--dark-text);
      padding: 1rem;
    }


    .fourrem { font-size: 3rem;}
    .xs-margin-t-3 { margin-top: 2rem;}
}

/* ------- SM Media Query (48em / 768px) --------------- */ 
/* - Styles added here will apply at devices smaller than 768px, or zoomed in equivalent */ 


@media(max-width:48em) {

	.show-sm { display: block; }
	.hide-sm { display: none;  }

  .sm-text-center { text-align: center; }
  .sm-text-left   { text-align: left; }
  .sm-text-right  { text-align: right; }

  .sm-padded     { padding: 5%; }
  .sm-padded-1   { padding: 1rem; }
  .sm-padded-05  { padding: 0.5rem; }

  .sm-padded-t-0 { padding-top: 0; }
  .sm-padded-b-0 { padding-bottom: 0; }
  .sm-margin-t-0 { margin-top: 0; }
  .sm-margin-b-0 { margin-bottom: 0; }

  .sm-landscape     { padding-bottom: 66% ; }
  .sm-portrait-tall { padding-bottom: 175%; }
  .sm-portrait      { padding-bottom: 125%; }
  .sm-square        { padding-bottom: 100%; }

  .fourrem { font-size: 2.5rem;}

}

/* ------- XS Media Query (36em / 576px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media(max-width:36em) {

		.show-xs { display: block; }
		.hide-xs { display: none;  }

    .subtle-heading-xs {
      font-weight: 300;
      font-family: 'Martel', serif; 
    }

    .md-border-right { 
      border-top: 1px solid var(--dark-text);
      border-left: 1px solid var(--dark-text);
      border-right: 1px solid var(--dark-text);
      border-bottom: none;
      padding: 1rem;
    }
    .md-border { 
      border: 1px solid var(--dark-text);
      padding: 1rem;
    }
    .md-border-left { 
      border-top: none;
      border-left: 1px solid var(--dark-text);
      border-right: 1px solid var(--dark-text);
      border-bottom: 1px solid var(--dark-text);
      padding: 1rem;
    }

    .fourrem { font-size: 2rem;}
    .margin-r-c3 {
      margin-right: -9rem;
    }

    .xs-margin-t-3 { margin-top: 4rem;}
    .po11 {
      top: 8%;
    }
}