
<!-- <section>
  <header class="grid-middle">
    <div class="col-3">
      <div>
        <a href="/" class="logo"> <img data-src="/images/logos/river-schriftzug.png" class="header-logo lazy"> </a>
      </div>
    </div> 
    <nav class="col-9 hide-md right">
      <a href="/"> Start </a>
      <a href="/ueber-mich"> Über mich </a>
      <div class="dropdown">
        <a href="/tierkinesiologie.html" class="dropdown-title"> Tierkinesiologie </a>
        <div class="dropdown-content">
          <a href="/energetik.html"> Energetik </a>
          <a href="/tierkommunikation.html"> Tierkommunikation </a>
          <a href="/heilsteine.html"> Heilsteine </a>
          <a href="/reiki.html"> Reiki </a>
          <a href="/farbtherapie.html"> Farbtherapie </a>
          <a href="/bachblueten.html"> Bachblüten </a>
        </div>
      </div>
      <a href="/shop"> Shop </a>
      <a href="/kontakt"> Kontakt </a>
      <a href="/termin-buchen" class="featured"> Termin buchen </a>
    </nav> 
    <div class="col-7 right show-md">
      <div class="burger-button">
        <span class="burger-top"></span>
        <span class="burger-middle"></span>
        <span class="burger-bottom"></span>
    </div>
    </div>
  </header>
</section>

  --->

    <header class=" header-2 right">
      <div class="relative">
        <h2 class="menu-button menu-button-style-2 text-white"> MENU </h2>
      </div>
    </header>


 <nav class="menu grid">
    <div class="bg-image landscape-menu bg-menu-banner grid col-12">
      <div class="col-6 padded-1">
        <img src="/icons/logos/logo-neu-weiss.svg" class="header-logo">
      </div>
      <div class="col-6 padded-1 right">
        <h2 class="menu-button schliessen"> SCHLIESSEN </h2>
      </div>
    </div>
    <div class="grid col-12 padded-2-important">
      <div class="col-8_md-12 grid">
        <div class="col-5_xs-12 grid">
          <div class="col-12-middle center">
              <a href="/" class="main-link menu-item">
                <div>
                  <span class="menu-item-text">
                    Start
                  </span>
                </div>  
              </a>
          </div>
          <div class="col-12-middle center">
            <a href="/ueber-uns.html" class="main-link menu-item">
              <div>
                <span class="menu-item-text">
                  Über uns
                </span>
              </div>  
            </a>
            <div class="sub-links">
              <a href="/ueber-uns.html#pascal" class="sub-link margin-r-2"> Pascal </a>
              <a href="/ueber-uns.html#juliana" class="sub-link right"> Juliana </a>
            </div>
          </div>
        </div>
        <div class="col-7_xs-12 grid">
          <div class="col-12 center">
            <a href="/fotografie.html" class="main-link menu-item">
              <div>
                <span class="menu-item-text">
                  Fotografie
                </span>
              </div>  
            </a>
          </div>
          <div class="col-7_xs-12 block center">
            <p class="sub-link-title"> Kommerziell </p>
            <div>
              <a href="/personal-branding.html" class="sub-link"> Personal Branding </a>
            </div>
            <div>
              <a href="/brand.html" class="sub-link"> Brand </a>
            </div>
            <div>
              <a href="/hotel.html" class="sub-link"> Hotel </a>
            </div>
            <div>
              <a href="/fashion.html" class="sub-link"> Fashion </a>
            </div>
            <div>
              <a href="/cafe.html" class="sub-link"> Cafe </a>
            </div>
          </div>
          <div class="col-5_xs-12 block center">
            <p class="sub-link-title xs-margin-t-15"> Personal </p>
            <div>
              <a href="/elopement.html" class="sub-link"> Elopement </a>
            </div>
            <div>
              <a href="/couple.html" class="sub-link"> couple </a>
            </div>
            <div>
              <a href="/intention.html" class="sub-link"> Intention </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4_md-12 grid center">
        <div class="col-12_md-6_xs-12-middle">
          <a href="/" class="main-link menu-item">
            <div>
              <span class="menu-item-text">
                Web Design
              </span>
            </div>  
          </a>
          <div class="sub-links">
            <a href="/website.html" class="sub-link margin-r-2 xs-margin-0"> Website </a>
            <a href="/onlineshop.html" class="sub-link right"> Onlineshop </a>
          </div>
        </div>
        <div class="col-12_md-6_xs-12-middle">
          <a href="/" class="main-link menu-item">
            <div>
              <span class="menu-item-text">
                Branding
              </span>
            </div>  
          </a>
            <div class="sub-links xs-margin-0 center margin-r-2">
              <a href="/logo.html" class="sub-link margin-r-2 xs-margin-0"> Logo </a>
              <a href="/illustration.html" class="sub-link right"> Illustration </a>
            </div>
        </div>
      </div>
    </div>
    <div class="grid col-12-bottom relative">

      <div class="lines">
        <img src="/icons/forms/lines-1.svg">
      </div>

      <div class="col-3-bottom hide-xs">
        <img src="/images/menu/menu-left.png" class="menu-left">
      </div>
      <div class="col-3_xs-12 center xs-padded-1">
        <div class="blog-cs">
          <a href="/blog.html" class="main-link menu-item">
            <div>
              <span class="menu-item-text">
                Blog
              </span>
            </div>  
          </a>
        </div>
      </div>
      <div class="col-4_xs-12 center xs-padded-1">
        <div class="web-cs">
          <a href="/" class="main-link menu-item">
            <div>
              <span class="menu-item-text">
                Anfrage
              </span>
            </div>  
          </a>
        </div>
      </div>
      <div class="col-6-bottom show-xs">
        <img src="/images/menu/menu-left.png" class="menu-left">
      </div>
      <div class="col-2_xs-6-bottom">
        <img src="/images/menu/menu-right.png" class="menu-right">
      </div>
    </div>
  </nav>


<!-- 
  {% for link in site.archives %}
              <a href="{{link.url}}"> {{ link.category | capitalize }} </a>
          {% endfor %}

--> 


<!-- 
  {% for link in site.archives %}
              <a href="{{link.url}}"> {{ link.category | capitalize }} </a>
          {% endfor %}

--> 



<!-- <section class="menu grid">
  <div class="bg-image landscape-menu bg-menu-banner grid col-12">
    <div class="col-6 padded-1">
      <img src="/icons/logos/logo-neu-weiss.svg" class="header-logo">
    </div>
    <div class="col-6 padded-1 right">
      <h2 class="menu-button schliessen"> SCHLIESSEN </h2>
    </div>
  </div>
  <div class="grid col-12 padded-2-important">
    <div class="col-8 grid">
      <div class="col-5 grid">
        <div class="col-12-middle center">
            <a href="/" class="main-link relative"> Start 
              <span class="menu-number">1</span>
            </a>
        </div>
        <div class="col-12-bottom center">
          <a href="/ueber-uns.html" class="main-link relative"> Über uns 
            <span class="menu-number">2</span>
          </a>
          <div class="sub-links">
            <a href="/ueber-uns.html#pascal" class="sub-link margin-r-2"> Pascal </a>
            <a href="/ueber-uns.html#juliana" class="sub-link right"> Juliana </a>
          </div>
        </div>
      </div>
      <div class="col-7 grid">
        <div class="col-12 center">
          <a href="/storytelling.html" class="main-link relative"> Storytelling 
            <span class="menu-number">3</span>
          </a>
        </div>
        <div class="col-6 block center">
          <p class="sub-link-title"> Kommerziell </p>
          <a href="/personal-branding.html" class="sub-link"> Personal Branding </a>
          <a href="/brand.html" class="sub-link"> Brand </a>
          <a href="/hotel.html" class="sub-link"> Hotel </a>
          <a href="/fashion.html" class="sub-link"> Fashion </a>
          <a href="/cafe.html" class="sub-link"> Cafe </a>
        </div>
        <div class="col-6 block center">
          <p class="sub-link-title"> Personal </p>
          <a href="/elopement.html" class="sub-link"> Elopement </a>
          <a href="/couple.html" class="sub-link"> couple </a>
          <a href="/intention.html" class="sub-link"> Intention </a>
        </div>
      </div>
    </div>
    <div class="col-4 grid center">
      <div class="col-12-middle">
          <a href="/branding.html" class="main-link relative"> Branding
            <span class="menu-number">5</span>
          </a>
          <div class="sub-links right margin-r-2">
            <a href="/logo.html" class="sub-link margin-r-2"> Logo </a>
            <a href="/illustration.html" class="sub-link right"> Illustration </a>
          </div>
      </div>
      <div class="col-12-middle">
        <a href="/anfrage.html" class="main-link relative"> Anfrage 
          <span class="menu-number">6</span>
        </a>
      </div>
    </div>
  </div>
  <div class="grid col-12-bottom relative">

    <div class="lines">
      <img src="/icons/forms/lines-1.svg">
    </div>

    <div class="col-3-bottom">
      <img src="/images/menu/menu-left.png" class="menu-left">
    </div>
    <div class="col-3 center">
      <div class="blog-cs">
        <a href="/blog.html" class="main-link relative"> Blog 
          <span class="menu-number">7</span>
        </a>
      </div>
    </div>
    <div class="col-4 center">
      <div class="web-cs">
        <a href="/webdesign.html" class="main-link relative"> Web Design 
          <span class="menu-number">4</span>
        </a>
        <div class="sub-links">
          <a href="/website.html" class="sub-link"> Website </a>
          <a href="/onlineshop.html" class="sub-link right"> Onlineshop </a>
        </div>
      </div>
    </div>
    <div class="col-2-bottom">
      <img src="/images/menu/menu-right.png" class="menu-right">
    </div>
  </div>
</section> -->